._55r1 {
  background: #ffffff url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
  border: 1px solid #dddfe2;
  color: #1d2129;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 52px;
  line-height: 16px;
  padding: 0 8px;
  vertical-align: middle;
}
.forgotten {
  color: #3d77f3;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.imgEye {
  width: 27px;
  position: absolute;
  top: 25%;
  right: 10px;
  border-radius: 50%;
  padding: 5px;
}
.imgEye:hover {
  background-color: #dddfe2;
  cursor: pointer;
}
.loader {
  border: 8px solid #f3f3f3; /* Màu nền */
  border-top: 8px solid #3498db; /* Màu phần xoay */
  border-radius: 50%; /* Để tạo hình tròn */
  width: 50px; /* Đường kính */
  height: 50px; /* Đường kính */
  animation: spin 1s linear infinite; /* Animation xoay */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
